/*! atlassian-connect-js - v3.1.6 - 2015-09-01 */

.ap-status small {
  color: #707070;
}

.ap-loading, .ap-load-timeout {
  padding-left: 4px;
}

.ap-dialog-content {
  padding: 0 !important;
  overflow: hidden !important;
}

.ap-dialog-content .ap-stats {
  padding: 5px 10px;
  background: #f5f5f5;
  border-top: 1px solid #e9e9e9;
}

.ap-link-disabled, .ap-link-disabled:hover, .ap-link-disabled:visited, .ap-link-disabled:focus {
  color: gray !important;
  text-decoration: none;
}

/* ap-content div has some whitespace in it, which results in the element having
 * a minimum height of ~20px. Setting font-size to 0px should be safe given that
 * the element only contains an iframe. */
.ap-container .ap-content {
  font-size: 0px;
}

.ap-container iframe {
  border: 0;
}

.ap-container iframe.full-size-general-page {
  border-bottom: 1px solid #ccc;
}

.ap-stats .small-spinner {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 4px;
}

.aui-inline-dialog .ap-stats, .ap-dialog-content .ap-stats {
  display: block;
}

.ap-aui-message {
  font-size: 14px;
  margin: 10px;
}

.ap-content {
  line-height: 0;
  margin: 0;
  padding: 0;
  font-size: 0;
}

#ac-message-container {
	top: 20px;
	left: 50%;
	max-width: 600px;
	position: fixed;
	z-index: 4000;
}

.ap-stats {
    padding: 0px 10px;
    background-color: #f5f5f5;
}

.ap-dialog-container .ap-container {
    height: 100%;
}

.ap-aui-dialog2 div {
    height: 100%;
}

.ap-aui-dialog2 div.ap-stats {
    height: auto;
    position: absolute; /* go over the top of the bottom bar when visible */
}

/* add new aui dialog size of maximum */
.aui-dialog2-maximum.ap-aui-dialog2.aui-layer {
    top: 0;
    height: 100%;
}

.ap-aui-dialog2 .aui-dialog2-content {
	padding:0;

    /* in chrome'd dialogs - fixes scrollbars added by iframes with scrollbars pushing the width out */
    overflow:hidden;

    /* in safari, chromeless dialogs become invisible, because apparently GPU FTW */
    -webkit-transform: translatez(0);
    will-change: opacity, visibility;
}

.ap-aui-dialog2 iframe {
    display:block;
}

.ap-aui-dialog2.ap-aui-dialog2-chromeless .aui-dialog2-content {
    background-color:transparent;

    /* Override the aui selector that assumes the last-child is the footer */
    border-radius: 0;
}