#enable_html_escaping()

<html>
  <head>
    <meta name="decorator" content="atl.admin">
    <meta name="application-base-url" content="$applicationProperties.getBaseUrl()">
    $webResourceManager.requireResource("com.atlassian.auiplugin:ajs")
    $webResourceManager.requireResource("com.atlassian.auiplugin:aui-experimental-expander")
    <title>$i18n.getText("plugin.configuration.title")</title>
    <style>
      header > .header-content {
        display: table;
      }

      header > .header-content > * {
        display: table-cell;
      }

      header > .header-content > h1 {
        width: 100%;
      }

      form.aui .form-body {
        border-top: 1px solid #ddd;
      }

      .aui-icon.icon-help {
        vertical-align: top;
      }
    </style>
  </head>
  <body>
    <div>
      <header>
        <div class="header-content">
          <h1>$i18n.getText("plugin.configuration.title")</h1>
          <div><a
              class="aui-icon icon-help"
              target="_blank"
              href="$i18n.getText("plugin.configuration.help.link")"
              title="$i18n.getText("plugin.configuration.help.text")">$i18n.getText("plugin.configuration.help.text")</a></div>
        </div>
      </header>
      <form class="aui" method="POST" enctype='application/json'>
        <div class="form-body">
          #if($error)
          <div class="aui-message error">
            <span class="aui-icon icon-error"></span>
            <p>$i18n.getText("plugin.configuration.error.text"): <a 
                id="error-details-trigger" 
                data-replace-text="$i18n.getText("plugin.configuration.error.expander.less")" 
                class="aui-expander-trigger" 
                aria-controls="error-details">$i18n.getText("plugin.configuration.error.expander.more")</a>
            </p>
            <div id="error-details" class="aui-expander-content">$error</div>
          </div>
          #end
          #if($success)
          <div class="aui-message success">
            <span class="aui-icon icon-success"></span>
            <p>$i18n.getText("plugin.configuration.success")</p>
          </div>
          #end
          <div class="aui-message info">
            <span class="aui-icon icon-info"></span>
            <p>$i18n.getText("plugin.configuration.instruction")</p>
          </div>
          <div class="field-group">
            <label for="url">$i18n.getText("plugin.configuration.url.label")</label>
            <input type="text" value="$url" id="url" name="url" class="text">
            <div class="aui-description description">$i18n.getText("plugin.configuration.url.description")</div>
          </div>
        </div>
        <div class="buttons-container form-footer">
          <div class="buttons">
            <input type="submit" value="$i18n.getText("plugin.configuration.save")" class="button">
          </div>
        </div>
      </form>
    </div>
    #if($hostConfigJson && !$error)
      #set($hostConfigJsonWithHtml = $hostConfigJson)
      <div class="ac-content-page">
        <div class="ap-servlet-placeholder">
          <div class="ap-container" id="ap-$ns">
            <div class="ap-content" id="embedded-$ns"></div>
            <div class="ap-stats hidden">
              <div class="ap-loading ap-status">
                <small>
                  <div class="small-spinner"></div>
                  Loading add-on <a href="${plugin.baseUrl}" class="ap-doc-url" target="_blank">$plugin.name</a>.
                </small>
              </div>
              <div class="ap-load-timeout ap-status hidden">
                <small>
                  <div class="small-spinner"></div>
                  Add-on <a href="${plugin.baseUrl}" class="ap-doc-url" target="_blank">$plugin.name</a> is not responding.
                  Wait or <a href="#" class="ap-btn-cancel">cancel</a>?
                </small>
              </div>
              <div class="ap-load-error ap-status hidden">
                <small>Add-on <a href="${plugin.baseUrl}" class="ap-doc-url" target="_blank">$plugin.name</a> failed to load.
                </small>
              </div>
            </div>
            <script>
              require(['connect-host', 'ac/cookie', 'ac/env', 'ac/inline-dialog', 'ac/dialog', 'ac/messages', 'ac/request', 'ac/history'], function (host) {
                host.create($hostConfigJsonWithHtml);
              });
            </script>
          </div>
         </div>
       </div>
    #end
  </body>
</html>
